@media screen and (max-width: 1440px) and (min-width: 375px) {
    * {
        margin: 0;
        padding: 0;
    }
    *::selection {
        color: #000;
        background-color: #add8e6;
    }
    body {
        background: hsl(233, 47%, 7%);
        font-family: Inter;
        color: hsl(0, 0%, 100%);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container {
        position: relative;
        width: 70%;
        height: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: hsl(244, 38%, 16%);
        /*border-radius: 5px 5px 0 0;*/
        border-radius: 5px;
        border: none;
        outline: none;
    }
    .image {
        margin-left: -50px;
        background-image: url(images/image-header-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: hsl(277, 64%, 61%);
        background-blend-mode: multiply;
        flex-basis: 100%;
        height: 100%;
        order: 1;
    }
    .text {
        padding: 5rem;
        order: 2;
    }
    .heading h1 {
        width: 400px;
        height: auto;
        margin-bottom: 30px;
        color: hsl(0, 0%, 100%);
        font-size: 2rem;
    }
    .heading span {
        color: hsl(277, 64%, 61%);
    }
    .heading p {
        width: 350px;
        font-size: 13px;
        font-family: Lexend Deca;
        line-height: 20px;
        color: hsla(0, 0%, 100%, 0.75);
        margin-top: -5px;
    }
    .stats {
        font-size: 1.25rem;
        font-weight: 700;
        color: hsl(0, 0%, 100%);
        width: 100%;
        height: 100%;
    }
    .stats .numbers {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 10px;
    }
    .stats .texts {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.6);
    }
    .uppercase {
        text-transform: uppercase;
    }
}

@media screen and (max-width: 1440px) {
    * {
        margin: 0;
        padding: 0;
    }
    *::selection {
        color: #000;
        background-color: #add8e6;
    }
    body {
        background: hsl(233, 47%, 7%);
        font-family: Inter;
        color: hsl(0, 0%, 100%);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container {
        position: relative;
        width: 70%;
        height: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: hsl(244, 38%, 16%);
        /*border-radius: 5px 5px 0 0;*/
        border-radius: 5px;
        border: none;
        outline: none;
    }
    .image {
        margin-left: -50px;
        background-image: url(images/image-header-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: hsl(277, 64%, 61%);
        background-blend-mode: multiply;
        width: 100%;
        height: 100%;
    }
    .text {
        padding: 5rem;
    }
    .heading h1 {
        width: 400px;
        height: auto;
        margin-bottom: 30px;
        color: hsl(0, 0%, 100%);
        font-size: 2rem;
    }
    .heading span {
        color: hsl(277, 64%, 61%);
    }
    .heading p {
        width: 350px;
        font-size: 13px;
        font-family: Lexend Deca;
        line-height: 20px;
        color: hsla(0, 0%, 100%, 0.75);
        margin-top: -5px;
    }
    .stats {
        font-size: 1.25rem;
        font-weight: 700;
        color: hsl(0, 0%, 100%);
        width: 100%;
        height: 100%;
    }
    .stats .numbers {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 10px;
    }
    .stats .texts {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.6);
    }
    .uppercase {
        text-transform: uppercase;
    }
}

@media only screen and (min-width: 1440px) {
    * {
        margin: 0;
        padding: 0;
    }
    *::selection {
        color: #000;
        background-color: #add8e6;
    }
    body {
        background: hsl(233, 47%, 7%);
        font-family: Inter;
        color: hsl(0, 0%, 100%);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container {
        position: relative;
        width: 1000px;
        height: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: hsl(244, 38%, 16%);
        /*border-radius: 5px 5px 0 0;*/
        border-radius: 5px;
        border: none;
        outline: none;
    }
    .image {
        margin-left: -50px;
        background-image: url(images/image-header-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: hsl(277, 64%, 61%);
        background-blend-mode: multiply;
        width: 100%;
        height: 100%;
    }
    .text {
        padding: 5rem;
    }
    .heading h1 {
        width: 400px;
        height: auto;
        margin-bottom: 30px;
        color: hsl(0, 0%, 100%);
        font-size: 2rem;
    }
    .heading span {
        color: hsl(277, 64%, 61%);
    }
    .heading p {
        width: 350px;
        font-size: 13px;
        font-family: Lexend Deca;
        line-height: 20px;
        color: hsla(0, 0%, 100%, 0.75);
        margin-top: -5px;
    }
    .stats {
        font-size: 1.25rem;
        font-weight: 700;
        color: hsl(0, 0%, 100%);
        width: 100%;
        height: 100%;
    }
    .stats .numbers {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 10px;
    }
    .stats .texts {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.6);
    }
    .uppercase {
        text-transform: uppercase;
    }
}

/*
.another-container {
    flex-basis: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    width: 70%;
    height: 100px;
    background-color: rgb(255, 41, 244);
    border-radius: 0 0 15px 15px;
    border: none;
    outline: none;
}
.btn-heading {
    margin-right: 75px;
}
.btn {
    padding: 10px 50px 10px 50px;
    border: 2.5px solid #fff;
    outline: none;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 50px;
    font-family: Poppins;
    font-size: 1.5rem;
    transition: 200ms;
}
.btn:hover {
    transform: scale(1.125);
}
@keyframes btn {
    0% { transform: translateX(0); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% {transform: translateX(0); }
}
*/