@media (min-width: 375px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        width: 100vw;
        height: 100vh;
        background-color: hsl(230, 100%, 99%);
        color: hsl(227, 35%, 25%);
        font-family: 'Manrope', Arial, Helvetica, sans-serif;
        font-size: 15px;
        display: grid;
        place-items: center;
    }
    .container {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(255, 0, 0, .25);
    }
    .header {
        width: 100%;
        height: auto;
        background: url(images/pattern-circles.svg) no-repeat cover;
    }
}
@media (min-width: 1440px) {

}